# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#Project specific
.idea
bootstrap.*
bootstrap.*
bootstrap-notify.*
chartist.*
config.js
jquery.*
typeit.*
scripts.*
styles.*
animate.*
themify-icons.*
jscolor.*
todo.*
simplemde.*

tools/
node_modules/
utilities/
public/images/design-timeline
498566.*
123456.*
654321.*
config.js
package-lock.json

pem passphrase app.txt
key.pem
cert.pem
tools/testLCG.js
