var config = {
  database: {
    host: "host",
    user: "username",
    password: "password",
    database: "databasename"
  },
  //Encryption secret for cookies
  sessionSecret: "kill fly tissue bowl brown tree.",
  hashComplexity: 13,
  mailgun: {
    apiKey: "key-examplehash",
    domain: "sandboxhash.mailgun.org"
  },
  mail: {
    name: "Turner Fenton DECA",
    noReplyAddress: "no-reply@turnerfentondeca.com"
  },
  host: "turnerfentondeca.com"
}

module.exports = config;
