<div class="container-fluid">
  <div class="row">
    {{>cards/changePasswordCard}}
    {{>cards/changeEmailCard}}
    {{#if sidebarBackground}}
    {{>cards/changeColorCard}}
    {{/if}}
  </div>
</div>
