<div class="container-fluid" id="top-div">

  <h1 class="text thin dark large">Add a Question</h1>
  <br>
  <form>
    <h3 class="text thin dark medium">Question</h3>
    <input class="text thin dark small" id="question-input" name="question" type="type" autocomplete="off" placeholder="Question" style="height:5vh; width:100%; font-size: 16px;" />
    <h3 class="text thin dark medium">Option A</h3>
    <input class="text thin dark small" id="option-a-input" name="optionA" type="type" autocomplete="off" placeholder="Option A" style="height:5vh; width:100%; font-size: 16px;" />
    <h3 class="text thin dark medium">Option B</h3>
    <input class="text thin dark small" id="option-b-input" name="optionB" type="type" autocomplete="off" placeholder="Option B" style="height:5vh; width:100%; font-size: 16px;" />
    <h3 class="text thin dark medium">Option C</h3>
    <input class="text thin dark small" id="option-c-input" name="optionC" type="type" autocomplete="off" placeholder="Option C" style="height:5vh; width:100%; font-size: 16px;" />
    <h3 class="text thin dark medium">Option D</h3>
    <input class="text thin dark small" id="option-d-input" name="optionD" type="type" autocomplete="off" placeholder="Option D" style="height:5vh; width:100%; font-size: 16px;" />
    <h3 class="text thin dark medium">Answer</h3>
    <select name="answer" id="answer-input" style="min-height:30px; width:100%;">
      <option class="text thin dark small" value="A">A</option>
      <option class="text thin dark small" value="B">B</option>
      <option class="text thin dark small" value="C">C</option>
      <option class="text thin dark small" value="D">D</option>
    </select>
    <h3 class="text thin dark medium">Cluster</h3>
    <select name="cluster" id="cluster-input" style="min-height:30px; width:100%;">
      <option class="text thin dark small" value="marketing">Marketing</option>
      <option class="text thin dark small" value="businessadmin">Business Administration</option>
      <option class="text thin dark small" value="finance">Finance</option>
      <option class="text thin dark small" value="hospitality">Hospitality & Tourism</option>
    </select>
    <br>
    <br>
    <button type="button" class="btn btn-lg btn-primary btn-block active-color text thick" id="submit-question">Submit Question</button>
    <button type="button" class="btn btn-lg btn-warning btn-block text thick" id="new-question">Reset Form</button>
  </form>

</div>
