{{#if fullwidth}}
<div class="container-fluid" id="top-div">
{{else}}
<div class="container" id="top-div">
{{/if}}
  <div class="step-container">

    <h1 class="text thin dark large">Add a Question</h1>
    <br>
    <form>
      <h3 class="text thin dark medium">Question</h3>
      <input class="block active-color" id="question-input" name="question" type="type" autocomplete="off" placeholder="Question" />
      <h3 class="text thin dark medium">Option A</h3>
      <input class="block active-color" id="option-a-input" name="optionA" type="type" autocomplete="off" placeholder="Option A" />
      <h3 class="text thin dark medium">Option B</h3>
      <input class="block active-color" id="option-b-input" name="optionB" type="type" autocomplete="off" placeholder="Option B" />
      <h3 class="text thin dark medium">Option C</h3>
      <input class="block active-color" id="option-c-input" name="optionC" type="type" autocomplete="off" placeholder="Option C" />
      <h3 class="text thin dark medium">Option D</h3>
      <input class="block active-color" id="option-d-input" name="optionD" type="type" autocomplete="off" placeholder="Option D" />
      <select name="answer" id="answer-input" class="block active-color">
        <option class="text thin dark small" value="A">A</option>
        <option class="text thin dark small" value="B">B</option>
        <option class="text thin dark small" value="C">C</option>
        <option class="text thin dark small" value="D">D</option>
      </select>
      <h3 class="text thin dark medium">Answer Explanation</h3>
      <input class="block active-color" id="explain-answers" name="explainedAnswer" type="type" autocomplete="off" placeholder="Explained Answer" />
      <h3 class="text thin dark medium">Answer</h3>
      <h3 class="text thin dark medium">Cluster</h3>
      <select name="cluster" id="cluster-input" class="block active-color">
        <option class="text thin dark small" value="marketing">Marketing</option>
        <option class="text thin dark small" value="businessadmin">Business Administration</option>
        <option class="text thin dark small" value="finance">Finance</option>
        <option class="text thin dark small" value="hospitality">Hospitality & Tourism</option>
      </select>
      <br>
      <br>
      <button type="button" class="btn btn-block active-color" id="submit-question">Submit Question</button>
      <button type="button" class="btn btn-warning btn-block" id="new-question">Reset Form</button>
    </form>

  </div>
</div>
