<div class="container-fluid">
    <div class="row">
      <!--Page specific cards -->
      {{#if canSubmitExtensions}}
        {{>cards/submitExtensionCard}}
      {{/if}}
      {{>cards/usersOnlineCard}}
      {{>cards/userAttendanceCard}}
    </div>
  <div class="row">

  </div>
</div>
