<div class="container-fluid">
    <div class="row">
      <!--Page specific cards -->
      {{#if canSubmitExtensions}}
        {{>cards/submitExtensionCard}}
      {{/if}}
      {{#if admin}}
        {{#if attendanceSessionOpen}}
          {{>cards/endAttendanceSessionCard}}
        {{else}}
          {{>cards/startAttendanceSessionCard}}
        {{/if}}
      {{/if}}
      {{>cards/startExamCard}}
      {{>cards/usersOnlineCard}}
      {{>cards/changeColorCard}}
      {{>cards/numQuestionsAnsweredCard}}
      {{>cards/userAttendanceCard}}
    </div>
  <div class="row">

  </div>
</div>
