<div class="container-fluid">
    <div class="row">
      <!--Page specific cards -->
      {{#if admin}}
        {{#if attendanceSessionOpen}}
          {{>cards/endAttendanceSessionCard}}
        {{else}}
          {{>cards/startAttendanceSessionCard}}
        {{/if}}
      {{/if}}
      {{>cards/startExamCard}}
      {{>cards/personalExamStatisticsCard}}
      {{#if admin}}
        {{>cards/chapterExamStatisticsCard}}
      {{/if}}
      {{>cards/userAttendanceCard}}
      {{>cards/changeColorCard}}
      {{>cards/userClusterProficiencyCard}}
      {{>cards/userExamResultsLineCard}}
      {{>cards/numQuestionsAnsweredCard}}
      {{#if canSubmitExtensions}}
        {{>cards/submitExtensionCard}}
      {{/if}}
    </div>
</div>

<style>

.row {
 -moz-column-width: 35em;
 -webkit-column-width: 35em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em;
}

.row > .col-xs-12:not(.ignore) {
 display: inline-block;
 width:  100%;
 float:none;
}
.row > .col-sm-6:not(.ignore) {
 display: inline-block;
 width:  100%;
 float:none;
}
.row > .col-lg-4:not(.ignore) {
 display: inline-block;
 width:  100%;
 float:none;
}
.row > .col-lg-6:not(.ignore) {
 display: inline-block;
 width:  100%;
 float:none;
}
.row > .col-lg-12:not(.ignore) {
 display: inline-block;
 width:  100%;
 float:none;
}

</style>
