<div class="container-fluid" id="body-content">
  <div class="landing-section">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 id="typed-text" class="text xlarge thin typed-text top center"></h1>
        <h1 class="text xlarge thin typed-text bottom center">turner fenton deca.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <svg class="plaque plaque-lg" version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 612 792" xml:space="preserve">
        <rect id="XMLID_1_" fill="#1A1A19" width="612" height="792"/>
        <rect id="XMLID_2_" x="21" y="27.2" fill="#242323" width="570" height="737.6"/>
        <rect id="XMLID_3_" x="66.5" y="86.1" fill="#C3B358" width="479" height="619.9"/>
        <rect id="XMLID_4_" x="87.8" y="113.6" fill="#DFDFDF" width="436.5" height="564.9"/>
        <g id="XMLID_20_">
          <path id="XMLID_21_" fill="#242323" d="M524.3,350.9v-70.2c-39.9-18-81.5-32.6-124.4-44.7C442.5,273.1,484.5,310.8,524.3,350.9z"/>
          <path id="XMLID_27_" fill="#242323" d="M465.3,305.8c-6.4-8.8-64.1-60.4-74.8-66.8c-59,87.2-110.2,178.1-136.8,281
          C316,440.3,389,371.4,465.3,305.8z"/>
          <path id="XMLID_28_" fill="#242323" d="M524.3,653.6c-34.5-28.3-68.3-57.3-100.8-87.8c-36.9-34.7-72.2-71-103.5-111.2
          c-21.5,25.2-42.6,49.9-64.4,75.4c82.5,59.5,171.3,104.3,268.6,131.3V653.6z"/>
          <path id="XMLID_29_" fill="#242323" d="M475.4,602.2c16.2,14,32.5,27.9,48.8,42v-84.1C508.6,574.7,492.4,588.8,475.4,602.2z"/>
        </g>
        </svg>
    </div>
    <div class="col-md-6 col-sm-12">
      {{#if loggedIn}}
        <h1 class="text large thin light center" id="welcome-text">Welcome, {{firstName}}</h1>
        <h1 class="text medium thin light center underlined" id="welcome-subtitle"><a href="home">go to your dashboard</a></h1>
        <h1 class="text large thin light center">or <a href="logout">logout</a></h1>
      {{else}}
        {{>loginForm}}
      {{/if}}
    </div>
  </div>
</div>
</div>

<div class="container-fluid" id="executive-section">
  <div class="landing-section">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <h3 class="text large thin light center">Make sure to <a ref="https://docs.google.com/forms/d/e/1FAIpQLSenicYTpptgxNCqRJm4ZUstBoHUim60ED9MZkiuUh32LGKFgA/viewform">sign up for interviews</a></h3>
        <h1 class="text xlarge thin center title">the executive team</h1>
      </div>
    </div>
    <div class="row">
      {{#each execCards}}
        {{>cards/landingExecCard}}
      {{/each}}
    </div>
  </div>
</div>
