{{#if fullwidth}}
<div class="container-fluid" id="top-div">
{{else}}
<div class="container" id="top-div">
{{/if}}
    <div class="row">
      <!--Page specific cards -->
      {{>cards/startExamCard}}
      {{>cards/spreadsheetDownloadCard}}
      {{>cards/searchExamsCard}}
      {{>cards/recordingCard}}
      {{!-- {{>cards/searchQuestionsCard}} --}}
      {{>cards/examsCard}}
      {{>cards/personalExamStatisticsCard}}
      {{#if admin}}
        {{>cards/chapterExamStatisticsCard}}
        {{>cards/createExamCard}}
        {{>cards/addQuestionCard}}
      {{/if}}
    </div>
  <div class="row">

  </div>
</div>
