<div class="container-fluid" id="body-content">
  <div class="login-screen">
    <div class="app-title">
      <h1 class="login-title">Registrations are not currently open</h1>
    </div>
    <div class="login-form">
      <h3 class="text thin">Be sure to check back later</h3>
    </div>
  </div>
</div>
