<div class="container-fluid" id="body-content">
  <div class="login-screen">
    <div class="app-title">
      <h1 class="login-title">Email confirmation was successful</h1>
      <h2 class="text thin">You may now <a href="login" class="text thin underlined">login</a></h2>
    </div>
  </div>
</div>
