<div class="container-fluid" id="body-content">
  <div class="login-screen">
    <div class="app-title">
      <h1 class="login-title">Registrations are not currently open</h1>
    </div>
    <div class="login-form">
      <h3 class="text large thin light center">Make sure to <a ref="https://docs.google.com/forms/d/e/1FAIpQLSenicYTpptgxNCqRJm4ZUstBoHUim60ED9MZkiuUh32LGKFgA/viewform">sign up for interviews</a></h3>
    </div>
  </div>
</div>
