<div class="container-fluid" id="body-content">
  <div class="login-screen">
    <div class="app-title">
      <h1 class="login-title">Registrations are not yet open</h1>
    </div>
    <div class="login-form">
      <h3 class="text thin">Be sure to check back in September 2017 for further news on applications to Turner Fenton DECA</h3>
    </div>
  </div>
</div>
