<div class="container-fluid" id="body-content">
  <div class="login">
    <div class="login-screen">
      <div class="app-title">
        <h1 class="login-title">Request Password Reset</h1>
      </div>
      <div class="login-form">
        <form action="/reset-password" method="post" id="reset-password-form">
          <div class="control-group">
            <input type="text" class="login-field text thin" value="" placeholder="student number" id="student-number" name="studentNumber">
          </div>
          <button class="btn btn-outline text thin" href="#">reset password</button>
        </form>
        {{#each errors}}
        <p class="text thin light small">
          {{this}}
        </p>
        {{/each}}
        <hr>
        <a class="login-link text thin" href="login">Login</a>
      </div>
    </div>
  </div>
</div>
