<div class="container-fluid" id="body-content">
  <div class="login">
    <h1 class="text thin small center light">Password changed, <a href="login" class="text light underlined">login</a></h1>
  </div>
</div>
