<div class="container-fluid">
    <div class="row">
      <!--Page specific cards -->
    </div>
  <div class="row">
    <div class="col-md-12">
      <div id="timeline">
        {{#if admin}}
        {{>cards/newPostCard}}
        {{/if}}
      </div>
    </div>
  </div>
</div>

<style media="screen">
  body {
    min-height: 100%;
  }
</style>
