/*Text*/
.text {
  margin: 2px 0 2px 0;
}
.text.light {
  color: #fff;
}
.text.dark {
  color: #343434;
}
.text.error {
  color: #ff0033;
}
.text.xlarge {
  font-size: 78px;
}
.text.large {
  font-size: 56px;
}
.text.medium {
  font-size: 34px;
}
.text.small {
  font-size: 26px;
}
.text.xsmall {
  font-size: 16px;
}
.text.bold {
  font-weight: 800;
}
.text.normal {
  font-weight: 500;
}
.text.thin {
  font-weight: 200;
}
.text.left {
  text-align: left;
}
.text.center {
  text-align: center;
}
.text.right {
  text-align: right;
}
.text.italic {
  font-style: italic;
}
.text.bold {
  font-weight: bold;
}
.text.title {
  //text-decoration: underline;
  padding-bottom: 30px;
}
.text.underlined {
  text-decoration: underline;
}
.text.typed-text {
  text-decoration: lowercase;
}
.text.typed-text.top {
  margin-bottom: 0;
  margin-top: 0;
}
.text.typed-text.bottom {
  margin-top: 0;
  margin-bottom: 40px;
}

@media screen and (max-width:1030px) {
  .text.typed-text {
    text-align: center;
  }
}

a {
  color: #fff;

}
/*Text End*/
