/*Text*/
$font: 'Raleway', sans-serif;

/*Colors*/
$red: #FE4A49;
$blue: #3C91E6;
$aqua: #119DA4;
$yellow: #FDCA40;
$grey: #343434;
$ivory: #f2f2f2;
$white: #FFFFFF;
$pink: #DB3069;
$yaleblue: #1446A0;
$dustyred: #FF715B;

  /*Page Color*/
  $landing: $blue;
  $design-timeline: $ivory;
  $login: $red;
  $register: $grey;
  $reset-password: $aqua;

  /*Element Color*/
  $color-input: $white;

  $color-text-light: $white;
  $color-text-dark: $grey;
