<div class="modal fade" id="find-exams-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="padding: 11px">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Search Exam Questions</h4>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-8 col-xs-7">
          <input type="text" id="exams-search-input" class="block active-color" placeholder="Write words in exam name" />
        </div>
        <div class="col-lg-4 col-xs-5">
          <select class="block active-color" id="exam-cluster-input">
            <option value="mix">All Clusters</option>
            <option value="marketing">Marketing</option>
            <option value="businessadmin">Business Administration</option>
            <option value="finance">Finance</option>
            <option value="hospitality">Hospitality & Tourism</option>
          </select>
        </div>
      </div>
      <br>
      <div id="exams-area" class="question-area">

      </div>
    </div>
  </div>
</div>


<script src="js/dist/search-exams-modal.min.js" charset="utf-8"></script>
