<div class="modal fade" id="start-exam-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Exam Setup</h4>
      </div>
      <form method="POST" role="form" action="exam">
        <div class="modal-body">
          <div class="option">
            <h2>Exam Options</h2>
            <label class="text thin small dark left" for="cluster">Cluster:</label>
            <select class="form-control" id="exam-cluster-select" name="cluster">
              <option value="marketing">Marketing</option>
              <option value="businessadmin">Business Administration</option>
              <option value="finance">Finance</option>
              <option value="hospitality">Hospitality & Tourism</option>
              <option value="mix">Mix</option>
            </select>
            <br>
            <label class="text thin small dark left" for="numQuestions">Number of Questions:</label>
            <select class="form-control" id="num-questions-select" name="numQuestions">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100" selected>100</option>
              <option value="250">250</option>
              <option value="1000">1000</option>
            </select>
          </div>
        </div>
        <div class="modal-footer" id="footer" align:"center">
          <input type="submit" class="btn btn-default active-color" id="start-exam-btn" value="Begin" />
          <button type="button" class="btn btn-danger" data-dismiss="modal" id="close">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
