<div class="col-lg-12 col-sm-12 col-xs-12">
  <div class="card">
    <div class="content">
      <div class="row">
        <div class="col-xs-7">
          <p class="text dark left small">
              <i class="fa fa-suitcase active-color"></i>
            &nbsp;
            Practice makes perfect, so use these resources to do your best for your next case:
          </p>
        </div>
        <div class="card-btn-right-div">
          <a href="https://drive.google.com/drive/folders/1OhTNYLCm2DwEnQOBhqLzhK22VESLA9Ow?usp=sharing" type="button" class="btn btn-default card-btn-right active-color">Practice</a>
        </div>
      </div>
      <div class="footer">
      </div>
    </div>
  </div>
</div>
