<div class="col-lg-4 col-sm-6">
  <div class="card">
    <div class="header">
      <h4 class="title">Change Password</h4>
      <p class="category">Choose a new password</p>
    </div>
    <div class="content">

        <div class="control-group">
          <input type="password" id="password-input" class="block active-color" placeholder="New Password">
        </div>
        <div class="control-group">
          <input type="password" id="password-confirm-input" class="block active-color" placeholder="New Password (confirm)">
        </div>
        <button class="btn btn-block active-color" id="change-password-btn">Change Password</button>

    </div>
  </div>
</div>

<script src="js/dist/changePasswordCard.min.js" charset="utf-8"></script>
