<div class="col-lg-4 col-sm-6 col-xs-12">
  <div class="card">
    <div class="header">
      <h4 class="title">Choose a Colour</h4>
      <p class="category">Customize your dashboard</p>
    </div>
    <div class="content">
      <div class="line-margin">
        <div class="row">
          <div class="col-xs-6">
            <p>Sidebar Colour</p>
          </div>
          <div class="col-xs-6">
            <input class="btn btn-default btn-color-select jscolor {onFineChange:'changeSidebarBackground(this)',value:'{{sidebarBackground}}'}"></input>
          </div>
        </div>
      </div>
      <div class="line-margin">
        <div class="row">
          <div class="col-xs-6">
            <p>Text Colour</p>
          </div>
          <div class="col-xs-6">
            <input class="btn btn-default btn-color-select jscolor {onFineChange:'changeSidebarText(this)',value:'{{sidebarText}}'}"></input>
          </div>
        </div>
      </div>
      <div class="line-margin">
        <div class="row">
          <div class="col-xs-6">
            <p>Active Colour</p>
          </div>
          <div class="col-xs-6">
            <input class="btn btn-default btn-color-select jscolor {onFineChange:'changeSidebarActive(this)',value:'{{sidebarActive}}'}"></input>
          </div>
        </div>
      </div>
      <div class="line-margin">
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-default btn-block active-color" type="button" onClick="saveColors()">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/dist/change-color-card.min.js" charset="utf-8"></script>
