<div class="col-lg-4 col-sm-6 col-xs-12">
  <div class="card">
    <div class="header">
      <h4 class="title">Change Email</h4>
      <p class="category">Update your contact address</p>
    </div>
    <div class="content">

        <div class="control-group">
          <input type="text" id="email-input" class="block active-color" placeholder="New Email" value="{{email}}">
        </div>
        <button class="btn btn-block active-color" id="change-email-btn">Update Email</button>

    </div>
  </div>
</div>

<script src="js/dist/changeEmailCard.min.js" charset="utf-8"></script>
