<div class="col-lg-12 col-sm-12">
  <div class="card">
    <div class="content">
      <div class="row">
        <div class="col-xs-7">
          <p class="text dark left small">
            <i class="fa fa-question icon-success active-color"></i>
            &nbsp;
            Look up exam questions
          </p>
        </div>
        <div class="card-btn-right-div">
          <button type="button" class="btn btn-default card-btn-right active-color" id="find-question-btn">Search Questions</button>
        </div>
      </div>
      <div class="footer">
      </div>
    </div>
  </div>
</div>
