<div class="col-lg-4 col-sm-6 col-xs-12" id="general-incorrectly-answered-card">
  <div class="card">
    <div class="header">
      <h4 class="title">Most Incorrectly Answered</h4>
      <p class="category">This is one of the most often incorrectly answered questions</p>
    </div>
    <div class="content" id="general-incorrectly-answered-question-area">

    </div>
    <div class="content">
      <button type="button" class="btn btn-block active-color" id="general-submit-question-btn" name="button" disabled>Submit</button>
    </div>
  </div>
</div>

<script src="js/dist/most-incorrectly-answered-card.min.js" charset="utf-8"></script>
