<div class="col-lg-12 col-sm-12">
  <div class="card">
    <div class="header">
      <h4 class="title">New Post</h4>
      <p class="category">Post something on the timeline</p>
    </div>
    <div class="content">
      <textarea name="name" id="new-post-box"></textarea>
      <div class="footer">
        <hr>
        <select class="form-control" id="post-class" style="width:50%; display:inline;">
          <option value="all">All Classes</option>
          <option value="writtens">Writtens</option>
          <option value="marketing">Marketing</option>
          <option value="businessadmin">Business Administration</option>
          <option value="finance">Finance</option>
          <option value="hospitality">Hospitality & Tourism</option>
        </select>
        <button type="button" class="btn btn-default active-color" id="submit-post-btn" style="display:inline; float:right;" disabled>Submit Post</button>
      </div>
    </div>
  </div>
</div>

<!-- changes minimum hieght for new post box -->
<style media="screen">
.CodeMirror, .CodeMirror-scroll {
  min-height: 100px;
}
</style>

<script src="js/dist/new-post-card.min.js" charset="utf-8"></script>
