<div class="col-lg-12 col-sm-12 col-xs-12">
  <div class="card">
    <div class="content">
      <div class="row">
        <div class="col-xs-7">
          <p class="text dark left small">
              <i class="fa fa-bullhorn active-color"></i>
            &nbsp;
            Record your case study
          </p>
        </div>
        <div class="card-btn-right-div">
          <a href="https://online-voice-recorder.com/" type="button" class="btn btn-default card-btn-right active-color">Record</a>
        </div>
      </div>
      <div class="footer">
      </div>
    </div>
  </div>
</div>