<div class="col-lg-12 col-sm-12 col-xs-12">
  <div class="card">
    <div class="content">
      <div class="row">
        <div class="col-xs-7">
          <p class="text dark left small">
              <i class="fa fa-pencil active-color"></i>
            &nbsp;
            Exam Spreadsheet
          </p>
        </div>
        <div class="card-btn-right-div">
          <button href="DecaExam.xlsx" type="button" class="btn btn-default card-btn-right active-color" download >Download</button>
        </div>
      </div>
      <div class="footer">
      </div>
    </div>
  </div>
</div>

