<div class="col-lg-12 col-sm-12 col-xs-12">
  <div class="card">
    <div class="content">
      <div class="row">
        <div class="col-xs-7">
          <p class="text dark left small">
              <i class="fa fa-pencil active-color"></i>
            &nbsp;
            Exam Spreadsheet
          </p>
        </div>
        <div class="card-btn-right-div">
          <a href="https://www.dropbox.com/s/5cyki72hoj8w49d/DecaExam.xlsx?dl=1" type="button" class="btn btn-default card-btn-right active-color">Download</a>
<<<<<<< HEAD
=======
          {{!-- ./DecaExam.xlsx --}}
>>>>>>> 88a3ad780fd00abd831b0c787dd33cb166058cc4
        </div>
      </div>
      <div class="footer">
      </div>
    </div>
  </div>
</div>
