<div class="col-lg-12 col-sm-12">
  <div class="card">
    <div class="content">
      <div class="row">
        <div class="col-xs-7">
          <p class="text dark left small">
              <i class="fa fa-pencil active-color"></i>
            &nbsp;
            Start an exam
          </p>
        </div>
        <div class="card-btn-right-div">
          <button type="button" class="btn btn-default card-btn-right active-color" id="show-exam-modal-btn">Start exam</button>
        </div>
      </div>
      <div class="footer">
      </div>
    </div>
  </div>
</div>

<!--Load corresponding modal -->
{{>modals/startExamModal}}

<script>
  $("#show-exam-modal-btn").on('click', function() {
    $("#start-exam-modal").modal('show');
  });
</script>
