<div class="col-lg-6 col-sm-6">
  <div class="card">
    <div class="header">
      <h4 class="title">Submit Extension</h4>
      <p class="category">Remeber, this is a phrase like 'three fortunate dachshunds'</p>
    </div>
    <div class="content" style="text-align: center;">
      <form id="submitExtensionForm">
        <input type="text" class="input-simple dark" id="extension-input" name="extension" value="" placeholder="type in your extension" autocomplete="off">
        <input type="submit" class="btn btn-outline dark text thick" name="button" value="Submit Extension" />
        <p id="error" class="text thin error small" style="transition:0.5s"></p>
      </form>
    </div>
  </div>
</div>

<script>
var extensionInput = $("#extension-input");
var extensionForm = $("#submitExtensionForm");
var errorText = $("#error");
$("#submitExtensionForm").on("submit", function(evt) {
  errorText.html("");
  evt.preventDefault();
  var ext = extensionInput.val();
  if (!ext.match(/^[t]\w*\s[f]\w*\s[d]\w*$/)) {
    errorText.html("malformed extension");
  }
  else {
    $.ajax({
      type: "POST",
      url: "ajax",
      data: {
        ajaxid: "submitExtension",
        extension: ext.toLowerCase()
      }
    }).done(function(data) {
      if(data.err) {
        $.notify({
          icon: 'fa fa-paper-plane',
          message: "Server error - try again later."
        },
        {
          type: "danger",
          timer: 3000,
          placement: {
            from: "bottom",
            align: "right"
          }
        });
      }
      else if (data.duplicate) {
          $.notify({
            icon: 'fa fa-paper-plane',
            message: "That exact extension has already been submitted."
          },
          {
            type: "warning",
            timer: 3000,
            placement: {
              from: "bottom",
              align: "right"
            }
          });
      }
      else {
        $.notify({
          icon: 'fa fa-paper-plane',
          message: "Your extension has been submitted for review."
        },
        {
          type: "success",
          timer: 3000,
          placement: {
            from: "bottom",
            align: "right"
          }
        });
      }
    });
  }
});
</script>
