<div class="col-lg-4 col-sm-6 col-xs-12">
  <div class="card">
    <div class="header">
      <h4 class="title">Submit Extension</h4>
      <p class="category">Remeber, this is a phrase like 'three fortunate dachshunds'</p>
    </div>
    <div class="content" style="text-align: center;">
      <form id="submitExtensionForm">
        <input type="text" class="block active-color" id="extension-input" name="extension" value="" placeholder="Type in your extension" autocomplete="off" style="min-width:100%;min-height:30px;">
        <br>
        <input type="submit" class="btn btn-block active-color" name="button" value="Submit Extension" />
        <p id="error" class="text thin error small" style="transition:0.5s"></p>
      </form>
    </div>
  </div>
</div>

<script src="js/dist/submit-extension-card.min.js" charset="utf-8"></script>
