<div class="col-lg-4 col-sm-6 col-xs-12" id="attendance-card">
  <div class="card">
    <div class="header">
      <h4 class="title">Attendance</h4>
      <p class="category">Choose the word below for the current session - it should be provided by your teacher</p>
    </div>
    <div class="content">

      {{#if attendanceSessionOpen}}
        <div class="row">
          <div class="col-lg-6 col-xs-6 ignore">
            <h1 class="text small center attendance-option noselect" id="attendance-option-A"></h1>
          </div>
          <div class="col-lg-6 col-xs-6 ignore">
            <h1 class="text small center attendance-option noselect" id="attendance-option-B"></h1>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-6 col-xs-6 ignore">
            <h1 class="text small center attendance-option noselect" id="attendance-option-C"></h1>
          </div>
          <div class="col-lg-6 col-xs-6 ignore">
            <h1 class="text small center attendance-option noselect" id="attendance-option-D"></h1>
          </div>
        </div>
      {{else}}
        <div class="row">
          <div class="col-xs-12 col-lg-12">
            <h1 class="text medium thin dark right">You have missed {{absenceData.absences}} out of {{absenceData.totalSessions}} days!</h1>
          </div>
        </div>
      {{/if}}
      <br>

      <div class="footer">
        <hr />
        <div class="stats">
          <i class="fa fa-refresh"></i><p class="text thin xsmall" id="attendance-status" style="display: inline"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<style media="screen">
.attendance-option {
  cursor: pointer;
}
.attendance-selected {
  color: #5bc0de;
}
.attendance-confirmed {
  color: #5cb85c;
}
.attendance-incorrect {
  color: #d9534f;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}
</style>

<script src="js/dist/user-attendance-card.min.js" charset="utf-8"></script>
