<div class="col-lg-4 col-sm-6 col-xs-12" id="cluster-proficiency-card">
  <div class="card">
    <div class="header">
      <h4 class="title">Cluster Proficiency Chart</h4>
      <p class="category">Each piece of the pie represents your skill (on exams) at each cluster</p>
    </div>
    <div class="content">

      <canvas id="cluster-proficiency-chart" width="1" height="1"></canvas>
      <br>

      <div class="footer">
        <hr />
        <div class="stats">
          <i class="fa fa-refresh"></i><p class="text thin xsmall" style="display: inline">Just now</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js" charset="utf-8"></script>
<script src="js/dist/user-cluster-proficiency-card.min.js" charset="utf-8"></script>
