.question-area {
  min-height: 30vh;
  max-height: 50vh;
  overflow: auto;
  // box-shadow: inset 8px 8px 50px -20px rgba(0,0,0,1);
  padding-top: 10px;
  padding-bottom: 10px;
}
.question .row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
