.question-area {
  min-height: 30vh;
  max-height: 50vh;
  overflow: auto;
  // box-shadow: inset 8px 8px 50px -20px rgba(0,0,0,1);
  padding-top: 10px;
  padding-bottom: 10px;
}
.question .row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.step-container {
  background-color: #FFF;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
