@import "./partials/variables";

@import "./partials/front";
@import "./partials/navbar";
@import "./partials/loginForm";
@import "./partials/text";
@import "./partials/buttons";

html, body {
  color: $color-text-dark;
  background: $reset-password;
}
.login {
margin: auto;
width: 500px;
}
@media screen and (max-width: 1030px) {
  .login {
    width: 80vw;
  }
}
